html, body {
    height: 100%;
}
.homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.linktext {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.linktext:hover{
    text-decoration: underline;
}

/* HEADER AREA */
.menulinks {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    align-items: center;
}
#aboutlink {
    grid-row: 1;
    grid-column: 1/2;
}
#storelink {
    grid-row: 1;
    grid-column: 2/3;
}
#gmaillink {
    grid-row: 1;
    grid-column: 15/16;
}
#imageslink {
    grid-row: 1;
    grid-column: 16/17;
} 
#googleoptionslink {
    grid-row: 1;
    grid-column: 17/18;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
#profilelink {
    grid-row: 1;
    grid-column: 18/19;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
#googleappsmenu {
    width: 30%;
    grid-row: 1;
}
#profileimage {
    width: 50%;
    grid-row: 1;
    border-radius: 50%;
}

/* FOOTER AREA */
.footerlinks {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#countrylink {
    grid-row: 1;
    grid-column: 1/13;
}
#privacylink {
    grid-row: 2;
    grid-column: 10/11;
}
#termslink {
    grid-row: 2;
    grid-column: 11/12;
}
#settingslink {
    grid-row: 2;
    grid-column: 12/13;
}

/* SEARCH AREA */
.searcharea {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.searchfield {
    margin-top: 15px;
    align-self: center;
    max-width: 100%;
}
.searchbuttons {
    margin-top: 30px;
}
.searchimage {
    align-self: center;
}
#googlelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#googlesearchfield {
    width: 500px;
    height: 30px;
    border-radius: 24px;
}
#googlesearchbutton, #feelingluckybutton {
    border-radius: 4px;
    border-color: #f2f2f2;
}